
.container-big-card{
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.big-card-photo img{
  width: 100%;
}

.big-card-title h2{
  margin-top: 15px;
  font-size: 20px;
}

.big-card-description p{
  color: gray;
  margin-top: 10px;
}
