


<app-menu-title></app-menu-title>
<a href="https://adrenaline.com.br/noticias" target="_blank" rel="noopener noreferrer"><i class="cr">Fonte: https://adrenaline.com.br/noticias</i></a>
<div class="container-articles">

  <div class="articles-main">

      <a href="content/1">
        <app-big-card
        photoCover="https://adrenaline.com.br/uploads/chamadas/battlefield-20422.jpg"
        cardTitle = "Sony diz que Battlefield 'não consegue alcançar' Call of Duty"
        cardDescription="Defesa da empresa contra compra da Activision Blizzard pela Microsoft revela o total de vendas das duas franquias.."
        creditoBigCard="POR RAPHAEL GIANNOTTI 23/11/2022 18:20"
        ></app-big-card>
      </a>
  </div>

  <div class="articles-others">

    <a href="content/2">
      <app-small-card
      photoCoverSmall="https://adrenaline.com.br/uploads/chamadas/Activision_Blizzard_lutar_garantir_compra_Microsoft.jpg"
      titleDescriptionSmall="Activision Blizzard promete lutar duramente para garantir sua compra pela Microsoft"
      creditonSmall="POR FELIPE GUGELMIN 25/11/2022 08:54"
      ></app-small-card>
    <a href="content/3">
      <app-small-card
      photoCoverSmall="https://adrenaline.com.br/uploads/chamadas/modern_warfare_2.jpg"
      titleDescriptionSmall="Call of Duty: Modern Warfare 2 estará grátis em dezembro"
      creditonSmall="POR FILIPE CARBONE 24/11/2022 21:15"
      ></app-small-card>
    </a>
    <a href="content/4">
      <app-small-card
      photoCoverSmall="https://adrenaline.com.br/uploads/chamadas/25_jogadores_God_of_War_Ragnarok_finalizaram_game.jpg"
      titleDescriptionSmall="25% dos jogadores de God of War Ragnarök já finalizaram o game"
      creditonSmall="POR FELIPE GUGELMIN 24/11/2022 15:10"
      ></app-small-card>
    </a>
    </a>



  </div>

</div>

