@media(max-width: 700px){
  .conteiner-menu-bar{
    flex-direction: row-reverse;
    padding: 15px 0px;
    background-color: #0D1321;
  }
  .ul1{
    display: flex;
    background-color: #0D1321;
    align-items: center;
  }
  .ul2{
    background-color: #0D1321;
  }
  .ul1 li{
    padding: 2px;
    margin: 0 5px;
    background-color: #0D1321;
  }
  .ul2 li{
    padding: 5px;
    margin: 0 10px;
    background-color: #0D1321;
    border: 1px solid #F0EBD8;

  }
  a{
    background-color: #0D1321;
    color: #F0EBD8;
  }
}
@media(max-width: 335px){
  .conteiner-menu-bar{
    flex-direction: column;
    padding: 15px 0px;
    background-color: #0D1321;
  }
  .ul1{
    display: flex;
    background-color: #0D1321;
    align-items: center;
    justify-content: center;
  }
  .ul2{
    background-color: #0D1321;
    text-align: center;
    width: 100%;
    margin: 5px 0;
  }
  .ul1 li{
    padding: 2px;
    margin: 0 5px;
    background-color: #0D1321;
  }
  .ul2 li{
    padding: 5px;
    margin: 0 10px;
    background-color: #0D1321;
    border: 1px solid #F0EBD8;

  }
  a{
    background-color: #0D1321;
    color: #F0EBD8;
  }
}
